[Unit]
Description=Kafka Consumer Service
After=network.target kafka.service

[Service]
Type=simple
User=benjamin
WorkingDirectory=/home/benjamin/b2b
Environment=RAILS_ENV=production
ExecStart=/usr/bin/bundle exec rails kafka:start_consumer
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 