<div class="<%= container_classes %>">
  <% if enabled_providers.any? %>
    <div class="space-y-3">
      <% enabled_providers.each do |config| %>
        <%= render OauthButtonComponent.new(**config) %>
      <% end %>
    </div>
  <% end %>
</div>